<div class="search_container">
  <%= form_with url: tagsearches_search_path, method: :get, local: true do |f| %>
    <input type="text" name="content" size="25" placeholder="タグ検索">
    <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
  <% end %>
</div>